<!DOCTYPE html>
<html>
<head>
  <title>CompanyTracker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<h1>README</h1>

<h2>This is a basic rails app.</h2>

<h3>Getting started:</h3>


<h4>1) Terminal commands (Start here)</h4><br/>
<p>	bundle install</p><br/>
<p>	#Install gems</p><br/>
<p>	rake db:migrate</p><br/>
<p>	#Creates dbs </p><br/>
<p>	bundle exe guard 	</p><br/>
<p>	#runs guard for tests</p><br/>
<p>	rails s</p><br/>
<p>	#strats the server</p><br/>

<br/>
<h4>2) Using the app<h4><br/>
<p>	Start the server:</p><br/>
<p>		rails s</p><br/>
<p>	Go to:</p><br/>
<p>		http://0.0.0.0:3000</p><br/>
<p>		Sign up or Login >> Create a company >>Add branches to that company</p><br/>
</body>
</html>
